# Version management:
VERSION='0.0.1'
# Dockehub settings:
DOCKERHUB_USERNAME='vittburani'
DOCKERHUB_REPOSITORY='<DOCKERHUB_REPOSITORY>'
# Django Settings:
DEBUG=0
APP_SERVER='gunicorn'
DJANGO_SECRET_KEY='<DJANGO_SECRET_KEY>'
PRIVATE_SERVER_IP='127.0.0.1'
HTTP_PORT='80'
HTTPS_PORT='443'
DOMAIN_NAME='<DOMAIN_NAME>'
SSL_VALIDATION_EMAIL='<SSL_VALIDATION_EMAIL>'
# RSA Key Settings:
PRIVATE_KEY='keys/private.pem'
PUBLIC_KEY='keys/public.pem'
# SMTP Settings:
SEND_MAIL=1
EMAIL_HOST='<EMAIL_HOST>'
EMAIL_HOST_USER='<EMAIL_HOST_USER>'
EMAIL_HOST_PASSWORD='<EMAIL_HOST_PASSWORD>'
DEFAULT_FROM_EMAIL='<DEFAULT_FROM_EMAIL>'
DEFAULT_TO_EMAIL='<DEFAULT_TO_EMAIL>'
# Python Settings:
PYTHON_VERSION=3.10
# NGINX Settings:
NGINX_VERSION=1.27
# DB Settings:
POSTGRES_VERSION=15
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD='<DB_PASSWORD>'
